.content {
  max-width: 600px;
  margin: auto;
  align-items: center;

}

.form-content {
  padding: 15px;
}

.btn {
  margin-top: 70px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: #673ab7;
}
