<div class="content">
  <div class="card">

    <form class="form-create-campaign" [formGroup]="createCampaign" (ngSubmit)="submit()" novalidate>

      <mat-card-title>Campaign Info</mat-card-title>

      <div class="form-group">
        <mat-form-field class="campaign-name">
          <input matInput placeholder="campaign name" value="" [formControlName]="'campaignName'">
        </mat-form-field>
        <ng-container *ngIf="hasError('campaignName', 'required')">This field is required</ng-container>
      </div>

      <div class="form-group">
              <label>
                <select formControlName="edition">
                  <option label="Select an Edition"></option>
                  <option value="3.5">3.5</option>
                  <option value="4E">4E</option>
                  <option value="5E">5E</option>
                </select>
              </label>
      </div>

      <div class="form-group">
      <mat-form-field>
        <mat-label>Campaign Description</mat-label>
        <textarea class="blurb" matInput [formControlName]="'description'"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="5"
                  cdkAutosizeMaxRows="35">
        </textarea>
      </mat-form-field>
      </div>

      <mat-card-title>Upload Campaign Banner</mat-card-title>

      <div class="form-group">
        <app-file-upload formControlName="campaignImage" [progress]="progress"></app-file-upload>
        <div class="invalid-feedback" style="display: block">
          <ng-container *ngIf="hasError('image', 'required')">This field is required</ng-container>
          <ng-container *ngIf="hasError('image', 'requiredFileType')">Only PNG 🤡</ng-container>
        </div>
      </div>

      <mat-card-title>Upload World Map</mat-card-title>

      <div class="form-group">
        <app-file-upload formControlName="worldMap" [progress]="progress"></app-file-upload>
        <div class="invalid-feedback" style="display: block">
          <ng-container *ngIf="hasError('image', 'required')">This field is required</ng-container>
          <ng-container *ngIf="hasError('image', 'requiredFileType')">Only PNG 🤡</ng-container>
        </div>
      </div>

      <button class="btn btn-sm btn-primary btn-block" type="submit">Login</button>

    </form>
  </div>
</div>
