<div class="content">
  <div class="form-content">
  <mat-card-title>Create Campaign</mat-card-title>

    <form class="form-create-campaign" [formGroup]="createCampaign" (ngSubmit)="submit()" novalidate>

      <mat-form-field formControlName="edition" appearance="outline">
        <mat-label>Campaign Edition</mat-label>
        <mat-select [formControlName]="'edition'">
          <mat-option *ngFor="let edition of editions" [value]="edition.value">
            {{edition.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="form-group">
        <mat-form-field class="campaign-name" appearance="outline">
          <mat-label>Campaign Name</mat-label>
          <input matInput [formControlName]="'campaignName'">
        </mat-form-field>
        <ng-container *ngIf="hasError('campaignName', 'required')">This field is required</ng-container>
      </div>



      <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Campaign Description</mat-label>
        <label>
<textarea class="blurb" matInput [formControlName]="'description'"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="5"
          cdkAutosizeMaxRows="35">
</textarea>
        </label>
      </mat-form-field>
      </div>


      <div class="form-group">
        <app-file-upload formControlName="campaignImage" [progress]="progress"></app-file-upload>
        <div class="invalid-feedback" style="display: block">
          <ng-container *ngIf="hasError('campaignImage', 'required')">This field is required</ng-container>
          <ng-container *ngIf="hasError('campaignImage', 'requiredFileType')">Only PNG 🤡</ng-container>
        </div>
      </div>


      <div class="form-group">
        <app-file-upload formControlName="worldMap" [progress]="progress"></app-file-upload>
        <div class="invalid-feedback" style="display: block">
          <ng-container *ngIf="hasError('worldMap', 'required')">This field is required</ng-container>
          <ng-container *ngIf="hasError('worldMap', 'requiredFileType')">Only PNG 🤡</ng-container>
        </div>
      </div>

      <button class="btn btn-sm btn-primary btn-block" type="submit">Create</button>

    </form>
  </div>
</div>
