.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  padding: 30px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.btn {
  margin-top: 70px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: #673ab7;
}

.sign-up-message {
  margin-top: 50px;
  font-size: small;
}

td {
  padding: 8px;
}





