<div class="container" style="margin-top: 20px; max-width: 50%;">
  <form [formGroup]="createCampaign" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="campaignName">Campaign Name</label>
      <input type="text" class="form-control" formControlName="campaignName" placeholder="Campaign Name" id="campaignName">
      <div class="invalid-feedback" style="display: block">
        <ng-container *ngIf="hasError('campaignName', 'required')">This field is required</ng-container>
      </div>
    </div>
    <div class="form-group">
      <label for="edition"></label>
    <select [formControlName]="edition" id="edition">
        <option label="Select an Edition"></option>
        <option value="35">3.5</option>
        <option value="4E">4E</option>
        <option value="5E">5E</option>
      </select>
    </div>
    <div class="form-group">
      <label>Campaign Description</label>
      <editor [formControlName]="'description'" [init]="{
            plugins: 'link',
            force_br_newlines : true,
            force_p_newlines : false,
            forced_root_block:''
            }">
      </editor>
    </div>
    <div class="form-group">
      <app-file-upload formControlName="campaignImage" [progress]="progress"></app-file-upload>
      <div class="invalid-feedback" style="display: block">
        <ng-container *ngIf="hasError('campaignImage', 'required')">This field is required</ng-container>
        <ng-container *ngIf="hasError('campaignImage', 'requiredFileType')">Only PNG 🤡</ng-container>
      </div>
    </div>
    <div class="form-group">
      <app-file-upload formControlName="worldMap" [progress]="progress"></app-file-upload>
      <div class="invalid-feedback" style="display: block">
        <ng-container *ngIf="hasError('worldMap', 'required')">This field is required</ng-container>
        <ng-container *ngIf="hasError('worldMap', 'requiredFileType')">Only PNG 🤡</ng-container>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
