.content {
  height: 100vh;
}

.campaign-image {
  max-height: 35%;
  max-width: 35%;
}

/*.card {*/
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
/*  max-width: 350px;*/
/*  min-width: 350px;*/
/*  max-height: 360px;*/
/*  padding: 30px;*/
/*  margin-top: 30px;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*  text-align: center;*/
/*  align-items: center;*/
/*  background-color: gray;*/

/*}*/

.campaign-summary-card, .create-campaign-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  min-width: 350px;
  max-height: 360px;
  padding: 30px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.campaign-image {
  padding: 15px;
}

.campaign-card-avatar {
  background-size: cover;

}

.campaign-image {
  background-size: cover;
}

.create-campaign-box {
  border: 1px dashed #7c7db3;
  border-radius: 3px;
  position: relative;
  margin: 0 auto;
  padding: 26px 20px 30px;
}

.plus-sign {
  height: 150px;
  }
