<div class="row">
  <div class="column">
    <img src="https://i.pinimg.com/474x/fc/4b/30/fc4b30b0ed9789afa0a75c4426a415fd--digital-art-fantasy-fantasy-art.jpg" class="thumbnail"  alt="3.5E" height="500" width="300">
  </div>
  <div class="column">
    <a routerLink="create-campaign" class = "new-campaign">
    <img src="https://www.drivethrurpg.com/images/6296/182815.png" class="thumbnail" alt="5E" height="500" width="300">
    </a>
  </div>
  <div class="column">
    <img src="https://images-na.ssl-images-amazon.com/images/I/61chgCn7wBL._SX385_BO1,204,203,200_.jpg" class="thumbnail" alt="pathfinder" height="500" width="300">
  </div>
</div>
