@media screen and (max-width: 1200px) {
  .column {
    width: 100%;
  }
}

.row {
  margin: auto;
  /*border: 5px solid darkred;*/
  float: left;
}

.thumbnail:hover {
  border: none;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  animation: bounce 1s;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.content {
  height: 100vh;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 1200px;
  padding: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: gray;
}
