@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.row {
  margin: 100px;
}

.thumbnail:hover {
  position:relative;
  top:-25px;
  left:-35px;
  width:300px;
  display:block;
  z-index:999;
}
