<div class="content">
  <div class="card" *ngIf=campaignResponse>
    <img class="campaign-image" [src]="'data:image/png;base64,'+this.image"  alt="campaign-image" height="100px" width="100px"/>
    <h1>{{this.campaignResponse.campaignName}}</h1>
    <p class="edition">{{this.campaignResponse.edition}}</p>
    <p class="owner">{{this.campaignResponse.owner}}</p>
    <p class="description" [innerHTML]="campaignResponse.description"></p>
    <h3>World Map</h3>
    <img class="campaign-worldmap" [src]="'data:image/png;base64,'+this.image2"  alt="world-map" height="100px" width="100px"/>

  </div>
</div>
