<div class="content">
  <mat-card *ngIf=campaign>
    <img mat-card-image class="campaign-image" [src]="'data:image/png;base64,'+this.image" alt="campaign-image"/>
    <mat-card-title>{{this.campaign.campaignName}}</mat-card-title>
    <mat-card-subtitle>{{this.campaign.edition}}</mat-card-subtitle>
    <mat-card-subtitle>{{this.campaign.owner}}</mat-card-subtitle>
    <mat-card-content [innerHTML]="campaign.description"></mat-card-content>
    <mat-card-title>World Map</mat-card-title>
    <img mat-card-image class="campaign-worldmap" [src]="'data:image/png;base64,'+this.image2" alt="world-map"/>
    <mat-card-actions>
      <a routerLink="/edit-campaign/{{campaign.campaignId}}">
        <button class="edit" mat-button>Edit</button>
      </a>
      <button class="delete" mat-button (click)="delete()">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
