.content {
  height: 100vh;
}

.campaign-worldmap {
  max-height: 800px;
  max-width: 1200px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 95%;
  padding: 30px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  background-color: gray;
}





