.form-content {
  padding: 15px;
}

.btn {
  margin-top: 70px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: #673ab7;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 800px;
  padding: 15px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.mat-input-element {
width: 700px;
}
