/*.profile-header {*/
/*  margin-top: 30px;*/
/*  display: flex;*/
/*  align-items:center;*/
/*}*/

.profile-picture {
  border-radius: 50%;
}

/*.profile-username {*/
/*  font-size: 200%;*/
/*  padding: 15px;*/
/*}*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  padding: 30px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
}

.title {
  color: grey;
  font-size: 18px;
}




