.content {
  height: 100vh;
}

/*.profile-picture {*/
/*  border-radius: 50%;*/
/*}*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  padding: 30px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  background-color: gray;
}

.title {
  font-size: 18px;
}




